.leftPanelContainer {
    width: 100%;
    height: 100%;
    background-color: #FCFCF9;
    overflow-y: auto;
    box-sizing: border-box;
}

.container {
    padding: 8px 10px 12px;
}

.ecgChartsBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.graphContainer {
    margin-bottom: 20px;
    /* height: 500px; */
}

.psdContainer {
    display: flex;
    width: 100%;
    gap: 8px;
}

@media (max-width: 768px) {
    .leftPanelContainer {
        width: 100%;
        height: 100%;
    }
    .psdContainer {
        flex-direction: column;
        gap: 0;
    }
}